[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
urllib3 = "==1.26.6"
mutagen = "*"
colorama = "*"
unidecode = "*"
pydantic = "*"
python-dotenv = "*"
wraptimer = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
